In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df2=pd.read_csv('/dataV2.csv')

#df.loc[df.duplicated(subset='voice id')]
df2=df2.drop_duplicates(subset='voice id',keep='first',inplace=False)          
df2 = df2[df2['voice id'] != 7376]
df2.to_csv("/dataV3.csv",)

df=pd.read_csv('/dataV3.csv')

df['address']=""

for i in range (16807):
  p=df['voice id'][i]
  df['address'][i]="Address/{}.wav".format(p)

df.tail()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Unnamed: 0  emotionID  textID sex age  voice id            address
16802       16860          4       6   f  54     10563  Address/10563.wav
16803       16861          4       7   f  54     10567  Address/10567.wav
16804       16862          4       8   f  54     10571  Address/10571.wav
16805       16863          4       9   f  54     10575  Address/10575.wav
16806       16864          4      10   f  54     10539  Address/10539.wav